<h1>StaticPages#index</h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<div class= "container">
	<img class= "img-responsive" src="/images/Used-Bicycle-Shop.jpg" alt="featureproduct">
</div>	
