// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
//You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-weight: 100;
	color: blue;
	text-align: center;
}

h2 {
	color: red;
	font-weight: 200;
	font-size: 3em;
	text-align: center;
}